{% load static %}

<script src="{% static "consumerTableHandler.js" %}"></script>
<link rel="stylesheet" href="{% static "vendor/jquery-datatables/datatables.min.css" %}"/>
<div id="datatable-ajax_wrapper" class="dataTables_wrapper no-footer">
    <table class="table table-bordered table-responsive table-striped dataTable no-footer" id="datatable-ajax" aria-describedby="datatable-ajax_info">
        <thead>
            <tr>
                <th width="10%">Id</th>
                <th width="10%">Nom</th>
                <th width="10%">Prénom</th>
                <th width="10%">Sexe</th>
                <th width="10%">Adresse</th>
                <th width="10%">Téléphone</th>
                <th width="10%">Consommateurs à charge</th>
                <th width="10%">Type d'adduction</th>
                <th width="10%">Nom de l'adduction</th>
                <th width="10%">Dernier paiement</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>