{% load static %}

<script src="{% static "tableHandler.js" %}"></script>
<div id="datatable-ajax_wrapper" class="dataTables_wrapper no-footer">
    <div class="table-responsive">
        <table class="table table-bordered table-striped dataTable no-footer" id="datatable-ajax"
               data-url="assets/ajax/ajax-datatables-sample.json" role="grid" aria-describedby="datatable-ajax_info">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Emplacement</th>
                    <th>Utilisateurs</th>
                    <th>État</th>
                    <th>Quantité d'eau distribuée</th>
                </tr>
            </thead>
        </table>
    </div>

</div>