{% extends "base.html" %}
{% load static %}

{% block page_name %}
    Récupération de mot de passe
{% endblock %}

{% block page_content %}
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down" data-toggle="tooltip" title="Minimiser""></a>
                </div>
                <h2 class="panel-title">Mail de récupération envoyé</h2>
            </header>
            <div class="panel-body">
                    Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message. <br>

Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels. <br>
                Retourner à l'<a href="{% url 'dashboard' %}">accueil</a> ?
            </div>
        </section>
    </div>
{% endblock %}