{% extends "base.html" %}
{% load static %}

{% block page_name %}
    <script src="{% static "profileHandler.js"%}"></script>
    Profil de {{ user.get_username }}
{% endblock %}

{% block page_content %}
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down" data-toggle="tooltip" title="Minimiser""></a>
                </div>
                <h2 class="panel-title">Changer le mot de passe</h2>
            </header>
            <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Modifier</button>
                    </form>
            </div>
        </section>
    </div>
{% endblock %}