{% extends "base.html" %}
{% load static %}

{% block page_name %}
    Récupération de mot de passe
{% endblock %}

{% block page_content %}
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down" data-toggle="tooltip" title="Minimiser""></a>
                </div>
                <h2 class="panel-title">Mot de passe modifié</h2>
            </header>
            <div class="panel-body">
                    Votre mot de passe, a bien été modifié. Vous pouvez maintenant vous <a href="{% url 'login' %}">connecter</a> !
            </div>
        </section>
    </div>
{% endblock %}