/* Display the burger menu when menu is closed, left arrow when open */
.sidebar-left-collapsed .sidebar-left .fa-arrow-left {
    display: none;
}

.sidebar-left-collapsed .sidebar-left .fa-bars {
    display: block;
}

.sidebar-left .fa-arrow-left{
    display: block;
}

.sidebar-left .fa-bars{
    display: none;
}

/* SELECT tag size inside a block header */
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    .title-selection {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.title-selection::-moz-focus-inner { /*Remove button padding in FF*/
    background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    .title-selection {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
    .title-selection {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.introjs-helperLayer {
    background: transparent;
}

.introjs-overlay {
    display: none;
}

.introjs-helperLayer:before {
    opacity: 0;
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 0.5em;
    border: .2em solid rgb(238, 108, 77);
    box-shadow: 0 0 0 1000em rgba(0,0,0, .7);
    opacity: 1;
}

.introjs-helperLayer:after {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}