{% load static %}

<!-- Modal form to add/edit manager -->
<script src="{% static "managerModalHandler.js"%}"></script>
<div id="modalManager" class="modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 id="modal-manager-title-add" class="panel-title hidden">Ajouter un gestionnaire ou technicien</h2>
            <h2 id="modal-manager-title-edit" class="panel-title hidden">Modifier un gestionnaire ou technicien</h2>
        </header>
        <div class="panel-body">
            <div id="form-manager-error" class="alert alert-danger hidden">
                <button type="button" class="close" onclick="hideFormErrorMsg()" aria-hidden="true">×</button>
                <div id="form-manager-error-msg"></div>
            </div>
            <form id="form-manager-add-element" class="form-horizontal mb-lg">
                <div id="form-manager-id-component" class="form-group mt-lg hidden">
                    <label class="col-sm-3 control-label">Identifiant</label>
                    <div class="col-sm-9">
                        <input id="input-id" name="input-id" class="form-control" disabled>
                    </div>
                </div>
                TODO
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="modal-submit-add" onclick="postNewRow()" class="btn btn-primary modal-confirm">
                        Ajouter
                    </button>
                    <button id="modal-submit-edit" onclick="postEditRow()" class="btn btn-primary modal-confirm hidden">
                        Modifier
                    </button>
                    <button onclick="dismissModal()" class="btn btn-default modal-dismiss">
                        Annuler
                    </button>
                </div>
            </div>
        </footer>
    </section>
</div>