{% load static %}

<script src="{% static "managersTableGenerator.js" %}"></script>

{# /!\ Don't forget to uncomment those imports if the table is used on a page where it is the only datatable #}
{#<script src="{% static "javascripts/tables/genericTableHandler.js" %}"></script>#}
{#<link rel="stylesheet" href="{% static "vendor/jquery-datatables-bs3/assets/css/datatables.css" %}"/>#}
{#<script src="{% static "vendor/jquery-datatables/media/js/jquery.dataTables.js" %}"></script>#}
{#<script src="{% static "vendor/jquery-datatables-bs3/assets/js/datatables.js" %}"></script>#}

<div id="datatable-manager_wrapper" class="dataTables_wrapper no-footer">
    <table class="table table-bordered table-responsive table-striped dataTable no-footer" id="datatable-manager" aria-describedby="datatable-manager_info">
        <thead>
            <tr>
                <th width="5%">Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Courriel</th>
                <th width="20%">Rôle</th>
                <th>Zone</th>
                <th width="5%">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
