{% extends 'base.html' %}
{% load static %}

{% block page_name %}
    <script src="{% static "zoneManagement.js"%}"></script>
    <script src="{% static "javascripts/ui-elements/modal.js"%}"></script>
    Gestion de {{ zone_name }}
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-4">
            <section class="panel">
                <header class="panel-heading">
                    <!-- Table block control actions -->
                    <div class="panel-actions form-inline">
                        <a href="#modalZone" onclick="setupModalZoneAdd()" class="modal-with-form fa fa-plus" id="plus-zone"></a>
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>
                    <h2 class="panel-title">Zones</h2>
                </header>
                <div class="panel-body">
                    {% include 'zones_table.html' %}
                </div>
            </section>
        </div>
        <div class="col-md-8">
            <section class="panel">
                <header class="panel-heading">
                    <!-- Table block control actions -->
                    <div class="panel-actions form-inline">
                        <a href="#modalManager" onclick="setupModalManagerAdd()" class="modal-with-form fa fa-plus" id="plus-manager"></a>
                        <a href="#" class="fa fa-print"></a>
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>
                    <h2 class="panel-title">Gestionnaires et Techniciens</h2>
                </header>
                <div class="panel-body">
                    {% include 'managers_table.html' %}
                </div>
            </section>
        </div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            <!-- Table block control actions -->
            <div class="panel-actions form-inline">
                <a href="#" class="fa fa-caret-down"></a>
            </div>
            <h2 class="panel-title">Éléments du réseau</h2>
        </header>
        <div class="panel-body">
            {% include "water_element_table.html" %}
        </div>
    </section>

    {% include "zone_modal.html" %}

    {% include "manager_modal.html" %}

{% endblock %}