{% load static %}
{% load utils %}

<!-- Modal form to add/edit zone -->
<script src="{% static "zoneModalHandler.js"%}"></script>
<div id="modalZone" class="modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 id="modal-zone-title-add" class="panel-title hidden">Ajouter une zone</h2>
            <h2 id="modal-zone-title-edit" class="panel-title hidden">Modifier une zone</h2>
        </header>
        <div class="panel-body">
            <div id="form-zone-error" class="alert alert-danger hidden">
                <button type="button" class="close" onclick="hideFormErrorMsg('zone')" aria-hidden="true">×</button>
                <div id="form-zone-error-msg"></div>
            </div>
            <form id="form-add-zone" class="form-horizontal mb-lg">
                <div id="form-zone-id-component" class="form-group mt-lg hidden">
                    <label class="col-sm-4 control-label">Identifiant</label>
                    <div class="col-sm-8">
                        <input id="input-zone-id" name="id" class="form-control" disabled>
                    </div>
                </div>
                <div id="form-zone-name-component" class="form-group mt-lg">
                    <label class="col-sm-4 control-label">Nom</label>
                    <div class="col-sm-8">
                        <input id="input-zone-name" name="name" class="form-control">
                        <label id="input-zone-name-error" class="error">Champ requis</label>
                    </div>
                </div>
                <hr>
                <div id="form-zone-fountain-component" class="form-group mt-lg">
                    <label class="col-sm-4 control-label">Coût des fontaines (HTG)</label>
                    <div class="col-sm-4">
                        <input id="input-fountain-price-value" name="name" class="form-control" type="number" min=0>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="select-fountain-price-duration">
                            {% for value in 13|range_from_one %}
                                <option value="{{ value }}">Tous les {{ value }} mois</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="form-zone-kiosk-component" class="form-group mt-lg">
                    <label class="col-sm-4 control-label">Coût des kiosques (HTG)</label>
                    <div class="col-sm-4">
                        <input id="input-kiosk-price-value" name="name" class="form-control" type="number" min=0>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="select-kiosk-price-duration">
                            {% for value in 13|range_from_one %}
                                <option value="{{ value }}">Tous les {{ value }} mois</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="form-zone-indiv-component" class="form-group mt-lg">
                    <label class="col-sm-4 control-label">Coût mensuel par défaut des prises individuelles (HTG)</label>
                    <div class="col-sm-8">
                        <input id="input-indiv-price-value" name="name" class="form-control" type="number" min=0>
                    </div>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="modal-zone-submit-add" onclick="postNewRow('zone')" class="btn btn-primary modal-confirm">
                        Ajouter
                    </button>
                    <button id="modal-zone-submit-edit" onclick="postEditRow('zone')" class="btn btn-primary modal-confirm hidden">
                        Modifier
                    </button>
                    <button onclick="dismissZoneModal()" class="btn btn-default modal-dismiss">
                        Annuler
                    </button>
                </div>
            </div>
        </footer>
    </section>
</div>
