{% extends "base.html" %}
{% load static %}

{% block page_name %}
    Offline page
{% endblock %}

{% block page_content %}

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Offline page</h2>
            <p class="panel-subtitle">It looks like you are offline.</p>
        </header>
        <div class="panel-body">
            <p>This page will let you complete you monthly report.</p>
        </div>
    </section>

{% endblock %}