{% extends "base.html" %}
{% load static %}

{% block page_name %}
    <script src="{% static "report.js" %}"></script>
    Page hors-connexion
{% endblock %}

{% block page_content %}

    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Page hors-connexion</h2>
            <p class="panel-subtitle">Il semble que vous n'avez pas de connexion internet.</p>
        </header>
        <div class="panel-body">
            <p>Cette page vous permettra de compléter votre <a id="show-monthly-report-modal" class="modal-with-form" role="button" href="#modalMonthlyReport" onclick="showModal('#show-monthly-report-modal')">rapport mensuel</a>.</p>
        </div>
    </section>

    <!-- Modal form to report the monthly values -->
    {% include "modal_monthly_report.html" %}

{% endblock %}