{% extends "base.html" %}
{% load static %}

{% block page_name %}
    Page hors-connexion
{% endblock %}

{% block page_content %}

    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Page hors-connexion</h2>
            <p class="panel-subtitle">Il semble que vous n'avez pas de connexion internet.</p>
        </header>
        <div class="panel-body">
            <p>Cette page vous permettra de compléter votre rapport mensuel.</p>
        </div>
    </section>

{% endblock %}